<div id="modal" class="modal">
    
    <div class="modal-content">
        <div class="btn-close">
            <a class="closebtn">
                <i class="fas fa-times" style="margin-right: 0.5rem;"></i>Fermer
            </a>
        </div>
        
        <form action="addphoto" method="post">
            <div class="champs">
                <input class="input" type="text" name="nameFromFront" placeholder="Nom de la photo" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="categorieFromFront" placeholder="Catégorie de la photo" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="imgFromFront" placeholder="Url de la photo" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="miniaturesFromFront" placeholder="Url de la miniature" required>
            </div>
            <div class="champs">
                <button class="btn" type="submit">Valider</button>
            </div>
        </form>
    </div>

</div>