<!DOCTYPE html>
<html>

<head>
    <title>Back Office du Portfolio de Maxime Turpault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <nav>
            <div class="menu">
                <ul class="listmenu">
                    <li>
                        <a class="menutext" href="./home">Accueil Back Office</a>
                    </li>
                    <li>
                        <a class="menutext" href="./presentation">Gestion de la présentation</a>
                    </li>
                    <li>
                        <a class="menutext" href="./galerie">Gestion de la galerie</a>
                    </li>
                    <li>
                        <a class="menutext" href="./contact">Gestion des contacts</a>
                    </li>
                    <li>
                        <a class="logouttext" href="./users/logout">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="home">
            <h1>Gestion des contacts</h1>
            <h2>Bienvenue <%= firstName %>
            </h2>
        </div>
    </main>
    <footer>
        <div class="bottombar">
            <div class="bottomg">Créé par Benjamin D'ONOFRIO</div>
            <div class="bottomd">Copyright © 2022 BD.js</div>
        </div>
    </footer>
</body>

</html>