<div class="modal modaledit">
    <div class="modal-content">
        <div class="btn-close">
            <a class="closebtn">
                <i class="fas fa-times" style="margin-right: 0.5rem;"></i>Fermer
            </a>
        </div>   
        <form>
            <div class="champs">
                <input class="input" type="text" name="nameFromFront" value="<%= galerie.name %>" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="categorieFromFront" value="<%= galerie.categorie %>" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="imgFromFront" value="<%= galerie.img %>" required>
            </div>
            <div class="champs">
                <input class="input" type="text" name="miniaturesFromFront" value="<%= galerie.miniatures %>" required>
            </div>
            <div class="champs">
                <button class="btn" type="submit">Valider</button>
            </div>
        </form>
    </div>
</div>