<header>
    <nav>
        <div class="menu">
            <ul class="listmenu">
                <li>
                    <a class="menutext" href="./home">Accueil</a>
                </li>
                <li>
                    <a class="menutext" href="./presentation">Gestion de la présentation</a>
                </li>
                <li>
                    <a class="menutext" href="./galerie">Gestion de la galerie</a>
                </li>
                <li>
                    <a class="menutext" href="./contact">Gestion des contacts</a>
                </li>
                <li>
                    <a class="menutext" href="./compte">Gestion de mon compte</a>
                </li>
                <li>
                    <a class="logouttext" href="./users/logout">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
</header>