<!DOCTYPE html>
<html>

<head>
  <title>Back Office du Portfolio de Maxime Turpault</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="home">
    <h1>Connecté au Back Office</h1>
    <h2>Bienvenue Beni</h2>
  </div>
</body>

</html>