<!DOCTYPE html>
<html>

<head>
  <title>Back Office du Portfolio de Maxime Turpault</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="logout">
    <a class="logouttext" href="./users/logout">Déconnexion</a>
  </div>
  <div class="menu">
    <ul class="listmenu">
      <li>Menu 1</li>
      <li>Menu 2</li>
      <li>Menu 3</li>
      <li>Menu 4</li>
    </ul>
  </div>
  <div class="home">
    <h1>Connecté au Back Office</h1>
    <h2>Bienvenue <%= firstName %></h2>
  </div>
  <div class="bottombar">
    <div class="bottomg">Créé par Benjamin D'ONOFRIO</div>
    <div class="bottomd">Copyright © 2022 BD.js</div>
  </div>
</body>

</html>