<!DOCTYPE html>
<html>

<head>
  <title>Back Office du Portfolio de Maxime Turpault</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('header'); %>
  <main>
    <div class="home">
      <h1>Connecté au Back Office</h1>
      <h2>Bienvenue <%= user[0].firstName %>
      </h2>
    </div>
  </main>
  <%- include('footer'); %>
</body>

</html>