<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back Office du Portfolio de Maxime Turpault</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <div class="home">
      <h1 class="title">API du Portfolio de Maxime Turpault</h1>
      <div class="signin">
        <form action="users/signin" method="post">
          <div class="champs"><input class="input" type="text" name="userFromFront" placeholder="Utilisateur" required>
          </div>
          <div class="champs"><input class="input" type="password" name="passwordFromFront" placeholder="Mot de passe"
              required></div>
          <div class="champs"><button class="btn" type="submit">Valider</button></div>
        </form>
      </div>
    </div>
  </main>
  <%- include('footer'); %>
</body>

</html>