<div id="modalPresentation" class="modal">
    
    <div class="modal-content">
        <div class="btn-close">
            <a class="closebtn">
                <i class="fas fa-times" style="margin-right: 0.5rem;"></i>Fermer
            </a>
        </div>
        
        <form action="updatepresentation" method="get">
            <div class="champs">
                <input hidden class="input" type="text" name="idFromFront" value="<%= presentation[0].id %>" required>
            </div>
            <label class="label-form">Url de la photo :</label>
            <div class="champs">
                <textarea class="area" name="photoFromFront" required><%= presentation[0].photo %></textarea>
            </div>
            <label class="label-form">Texte de présentation :</label>
            <div class="champs">
                <textarea class="area" name="presentationFromFront" required><%= presentation[0].presentation %></textarea>
            </div>
            <label class="label-form">Texte de la description :</label>
            <div class="champs">
                <textarea class="area" name="descriptionFromFront" required><%= presentation[0].description %></textarea>
            </div>
            <div class="champs">
                <button class="btn" type="submit">Valider</button>
            </div>
        </form>
    </div>

</div>