@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;  
  font-family: 'Barlow Condensed', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h1:hover {
  cursor: default;
}

p:hover {
  cursor: default;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logouttext {
  text-decoration: none;
  color: red;
}

.menutext {
  text-decoration: none;
  color: #6e6e6e;
}

.menutext:hover {
  cursor: pointer;
  color: black;
}

.title {
  margin-bottom: 1rem;
}

.champs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.input {
  width: 15rem;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn {
  width: 15rem;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
}

.bottombar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 3.1rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.bottomg {
  margin-left: 1.3rem;
}

.bottomd {
  margin-right: 1.3rem;
}

.menu {
  position: fixed;
  height: 80vh;
  display: flex;
  align-items: center;
  top: 0px;
  left: 1rem;
  z-index: 1000;
}

.listmenu {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.listmenu li {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.galerie {
  margin-left: 12.5rem;
  padding-bottom: 3.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-galerie {
  background-color: white;
  width: 100vw;
  height: 2.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 500;
}

.galerie-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2.5rem;
}

.galerie-item {
  width: 18.7rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.galerie-image {
  height: 12.5rem;
  border-radius: 1rem;
}

.galerie-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.galerie-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.3rem;
}

.galerie-tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.galerie-tool {
  font-weight: bold;
  color: #6e6e6e;
}

.galerie-tool:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}