@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logout {
  position: fixed;
  top: 10px;
  right: 10px;
}

.logouttext {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.title {
  margin-bottom: 10px;
}

.champs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn:hover {
  cursor: pointer;
}

.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 50px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.bottomg {
  margin-left: 20px;
}

.bottomd {
  margin-right: 20px;
}