@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&display=swap');

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;  
  font-family: 'Barlow Condensed', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h1:hover {
  cursor: default;
}

h2 {
  margin: 0;
  padding: 0;
}

h2:hover {
  cursor: default;
}

p {
  margin: 0;
  padding: 0;
}

p:hover {
  cursor: default;
}

.home {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logouttext {
  text-decoration: none;
  color: red;
}

.menutext {
  text-decoration: none;
  color: #6e6e6e;
}

.menutext:hover {
  cursor: pointer;
  color: black;
}

.title {
  margin-bottom: 1rem;
}

.label-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.label-form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.champs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}


.input-log {
  min-width: 20rem;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.input {
  width: 50vw;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.select {
  width: 51vw;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.select option {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.area {
  min-width: 50vw;
  max-width: 50vw;
  min-height: 5rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn {
  width: 15rem;
  height: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.btn:hover {
  cursor: pointer;
}

.bottombar {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 3.1rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.bottomg {
  margin-left: 1rem;
}

.bottomd {
  margin-right: 1rem;
}

.menu {
  position: fixed;
  height: 80vh;
  display: flex;
  align-items: center;
  top: 0px;
  left: 1rem;
  z-index: 1000;
}

.listmenu {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.galerie {
  margin-left: 12.5rem;
  padding-bottom: 3.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-galerie {
  background-color: white;
  width: 100%;
  height: 7rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 500;
}

.add-galerie h1 {
  margin-bottom: 1rem;
}

.galerie-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 7rem;
}

.galerie-item {
  width: 18.7rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.galerie-image {
  height: 12.5rem;
  border-radius: 1rem;
}

.galerie-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.galerie-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.3rem;
}

.galerie-tools {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.galerie-tool {
  font-weight: bold;
  color: #6e6e6e;
  text-decoration: none;
}

.galerie-tool:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.btn-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.closebtn {
  color: #6e6e6e;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}

.closebtn:hover {
  color: black;
  cursor: pointer;
}

.presentation {
  min-height: 90vh;
  margin-left: 12.5rem;
  margin-top: 1rem;
  padding-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presentation-content {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.presentation-desc {
  width: 60vw;
  margin-top: 1rem;
}

.presentation-text {
  width: 30vw;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left : 1rem;
}

.presentation-tools {
  margin-top: 2rem;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.presentation-tool {
  color: #6e6e6e;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.presentation-tool:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.contact {
  min-height: 90vh;
  margin-left: 12.5rem;
  margin-top: 1rem;
  padding-bottom: 3.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-list {
  width: 70vw;
  margin-top: 1rem;
}

.contact-title {
  text-decoration: underline;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.contact-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.3rem;
}